<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.administrator.runtimepermissionsdemo">

    <!-- BEGIN_INCLUDE(manifest) -->


    <!--
     Note that all required permissions are declared here in the Android manifest.
     On Android M and above, use of these permissions is only requested at run time.
    -->


    <!--
     The following permissions are only requested if the device is on M or above.
     On older platforms these permissions are not requested and will not be available.
    -->
    <uses-permission-sdk-m android:name="android.permission.READ_CONTACTS" />
    <uses-permission-sdk-m android:name="android.permission.WRITE_CONTACTS" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- END_INCLUDE(manifest) -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.SinglePermissionActivity" />
        <activity android:name=".activity.MultiPermissionActivity" />
        <activity android:name=".activity.Camera1Activity" />
        <activity android:name=".activity.Camera2Activity" />
        <activity android:name=".activity.Camera3Activity" />
        <activity android:name=".activity.ContactsActivity"></activity>
    </application>

</manifest>